.box, .box * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.box {
  overflow: hidden;
  border-radius: 3px;
  background-color: gray;
  transition: 1s ease; }

.box-title {
  width: 100%;
  padding: 10px;
  display: inline-block;
  background-color: green;
  color: white; }

.box-title.active, .box-title:hover {
  background-color: pink;
  text-decoration: none; }

.open {
  overflow-y: hidden;
  height: 100px;
  transition: height 2s ease; }

.closed {
  height: 0px; }

.box-content {
  margin: 0; }
